.review-tile {
  margin: 0 2% 2% 0;
  padding: 30px;
  background-color: rgba(250,240,230,1);
  border: 1px solid #ccc;
  width: 42%;
  float: left;

  &:last-child {
    margin-right: 0;
  }
}

.numbers {
  background-color: $maroon;
  color: $off-white;
  margin-left: 6px;
  padding: 3px 6px;
  border-radius: 3px;
  line-height: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-family: sans-serif;
}
