#search-bar {
  color: white;
  font-family: 'Poiret One', cursive;
  font-size: 19px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5),
}

.suggestions-container {
  ul {
    list-style-type: none;
  }
}
