#review-container {
  background-color: #211216;
  padding: 40px;

    h2 {
      color: #fff;
      display: inline-block;
      margin: 0;
      line-height: 100%;
    }
}
#review-container-header {
  padding: 5px;
}

#add-review-button {
  padding: 10px;
  display: inline-block;
}
