.page-numbers {
  list-style: none;
  text-align: center;
}

.page-numbers li {
  display: inline;
  font-size: 3rem;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: black;
  border-color: black;
  color: white;
  user-select: none;
  cursor: pointer;
}
